<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muneer.majorproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyRidesActivity"
            android:label="@string/title_activity_my_rides"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShareRideActivity"
            android:label="@string/title_activity_share_ride"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JoinRideActivity"
            android:label="@string/title_activity_join_ride"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JoinRideDetailsActivity"
            android:label="@string/title_activity_ride_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyRidesDetailsActivity"
            android:label="@string/title_activity_ride_details_my_rides"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
